<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Blog posts</title>
</head>
<body>
{% block content %}
{% load staticfiles %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi, I'm Petar.</h1>
      <p class="lead text-muted">Welcome to my Blog about Software testing. I am Test engineer in a huge corporation. I want to teach you how to create an automation projects from scratch using testing frameworks.</p>
      <p>
        <a href="{% url 'email' %}" class="btn btn-primary my-2">Email Me</a>
      </p>
      <img src="{% static 'petar.jpg' %}" />
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for post in posts.all %}
        <div class="col-md-4" onclick="window.location='{% url 'detail' post.id %}';" style="cursor: pointer;">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ post.image.url }}" />
           <div class="card-body">
             <p><h5>{{ post.title }}</h5></p>
              <p class="card-text">{{ post.summary }} ...</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

{% endblock %}
</body>
</html>